[submodule "vendor/phnt"]
	path = vendor/phnt
	url = https://github.com/processhacker/phnt.git
[submodule "vendor/catch2"]
	path = vendor/catch2
	url = https://github.com/catchorg/Catch2.git
	branch = v2.x
[submodule "vendor/freetype2"]
	path = vendor/freetype2
	url = https://github.com/freetype/freetype2.git
